<div class="wrapper">
    <div class="sidebar" data-color="white" data-active-color="danger">
        <sidebar-cmp></sidebar-cmp>
    </div>
    <div class="main-panel">
        <navbar-cmp></navbar-cmp>
        <div class="content">
          <div class="row">
                <div class="map">
                    <google-map height="100vh"
                                width="100%"
                                [options]="mapOptions">
                      <map-marker *ngFor="let marker of markers"
                                  [position]="marker.position"></map-marker>
                    </google-map>
                </div>
          </div>
        </div>
      </div>
</div>
