<div class="wrapper">
    <div class="sidebar" data-color="white" data-active-color="danger">
        <sidebar-cmp></sidebar-cmp>
    </div>
    <div class="main-panel">
        <navbar-cmp></navbar-cmp>
        <div class="content">
          <div class="row">
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" class="full-width-table">

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef> ID </th>
                  <td mat-cell *matCellDef="let station"> {{station.id}} </td>
                </ng-container>
                
                <!-- Serial Number Column -->
                <ng-container matColumnDef="serial_number">
                    <th mat-header-cell *matHeaderCellDef> Serial Number </th>
                    <td mat-cell *matCellDef="let station"> {{station.serial_number}} </td>
                  </ng-container>

                <!-- Model Column -->
                <ng-container matColumnDef="model">
                  <th mat-header-cell *matHeaderCellDef> Model </th>
                  <td mat-cell *matCellDef="let station"> {{station.model}} </td>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef> Status </th>
                  <td mat-cell *matCellDef="let station" [ngStyle]="{ 'background-color': getStatusColor(station.status) }">
                    {{station.status}}
                  </td>
                </ng-container>

                <!-- Last Activity Column -->
                <ng-container matColumnDef="lastActivity">
                  <th mat-header-cell *matHeaderCellDef> Last Activity </th>
                  <td mat-cell *matCellDef="let station"> {{station.lastActivity}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/detail', row.serial_number]"></tr>
              </table>

              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
          </div>
        </div>
    </div>
</div>