<html>
<div>
  <nav class="navbar">
    <a class="navbar-brand" href="#">My Website</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </nav>
  <h2>Login</h2>
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <div class="input-container"><label for="email">Username : </label><input type="email" autocomplete="email" [ngModel]="credentials.username" id="email" name="email"><br></div>
    <div class="input-container"><label for="pass">Password : </label><input type="password" autocomplete="password" [ngModel]="credentials.password" id="pass" name="pass"></div><br>
    <div class="input-container"><input class="submit-button" type="submit" (click)="login()" value="login" name="login" id="login"></div>
  </form>
</div>
</html>