<div class="sidebar-wrapper">
    <div class="logo">
        <div class="logo-image-small">
          <img src="assets/img/ev.jpg">
        </div>
      <a href="https://www.creative-tim.com" class="simple-text logo-normal">
        OCPP-CSMS
      </a>
    </div>
      <ul class="nav">
          <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
              <a [routerLink]="[menuItem.path]">
                  <i class="nc-icon {{menuItem.icon}}"></i>
                  <p>{{menuItem.title}}</p>
              </a>
          </li>
          <li class="logout-button">
              <a (click)="logout()">
                  <i class="nc-icon nc-button-power"></i>
                  <p>Logout</p>
              </a>
          </li>
      </ul>
  </div>

  <router-outlet></router-outlet>